<div class="stock-counter">
    <div>
        <div (keydown)="onKeyUp($event)" (blur)="onBlur($event)" (focus)="onFocus($event)" tabindex="0">
            <p>{{ value }}</p>
            <div tabindex="-1">
                <button type="button" tabindex="-1" (click)="increment()" [disabled]="value === max">
                    +
                </button>
                <button type="button" tabindex="-1" (click)="decrement()" [disabled]="value === min">
                    -
                </button>
            </div>
        </div>
    </div>
</div>
