<div [formGroup]="parent">
    <div formGroupName="store">
        <input placeholder="Branch ID" type="text" formControlName="branch">
        <div *ngIf="required('branch')" class="error">
            Branch ID is required
        </div>
        <div *ngIf="invalid" class="error">
            Invalid branch code: 1 letter, 3 numbers
        </div>
        <div *ngIf="unknown" class="error">
            Unknown branch, please check your ID
        </div>
        <input placeholder="Manager Code" type="text" formControlName="code">
        <div *ngIf="required('code')" class="error">
            Manager Code is required
        </div>
    </div>
</div>
